*{
    box-sizing: border-box;
}
*:root {
    --white-color: #fff;
    --main-color: #0099FF;
    --black-color: #333;
    --text-color: rgb(253, 244, 244);
    /* --sub-color:; */
    /* --Secondary-color:; */
}

html {
    font-family: "Open Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    line-height: 1.75rem;
}
body {
    margin: 0;
}
#particles-js {
    /* background: #f00 */
    background-image: url();
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    z-index: 2;
}
.main-color {
    color: var(--main-color);

}
@keyframes fadeInTopHeader {
    from {
        opacity: 0;
        transform: translateY(-16px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes FadeinBanner {
    from {
        opacity: 0;
        transform: translateX(36px);
    }
    
    to {
        opacity: 0.8;
        transform: translateX(0px);
    }
}
@keyframes FadeinTextTitleBanner {
    from {
        opacity: 0;
        transform: translateY(-46px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes FadeinTextDesBanner {
    from {
        opacity: 0;
        transform: translateY(-26px);
    }
    to {
        opacity: 0;
        transform: translateY(-13px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes ButtonBanner {
    from {
        opacity: 0;   
    }

    to {
        opacity: 1;      
    }
}
@keyframes GoWidth {
    0% {
        transform: scaleX(0)
    }
    to {
        transform: scaleX(1)
    }
}
@keyframes GoLeft {
    from {
        transform: translateX(-30px)
    }
    to {
      transform: translateX(0)
    }
}
.js .wow {
    opacity: 0;
    transform: translateY(1em);
    transition: all 0.5s 0.5s ease-out;
  }
  /* Wow.js puts in a "animated" class */
  .js .animated {
    opacity: 1;
    transform: none;
  }